* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
#aquamarine {
   color: aquamarine;
}
#pink {
   color: pink;
}
#gray {
   color: gray;
}
body {
   background-color: darkslategray;
   color: azure;
}
#cent {
   color: aquamarine;
   height: 90vh;
}
#img {
   width: 30%;
   border-radius: 50%;
   margin: 20px;
}
#title {
   font-size: 2rem;
   font-weight: 700;
}
#font {
   font-family: "dejavu sans mono", monospace;
}
a {
   text-decoration: none;
   color: azure;
}
.bottom-center {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-family: "dejavu sans mono", monospace;
  color: gray;
}

#tradewind {
  color: #65cfa2
}

#lime-green {
  color: #54ef5d
}

#red {
  color: #ba2a17
}

#blue {
  color: #00aae7
}


